#mainbod{
    background: url("bg13.jpg");
    background-size: 110% 240%; 
    background-repeat: no-repeat;
    background-color: black;
}


#directory{
	border-spacing: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}


#about1 {
    height: 24px;
    width: 115px;
	background: rgba(204, 204, 204, 0.0);
    border-radius: 0px;
    margin: auto;
    text-align: center;
    opacity:1;
    transition: all 0.7s ease; 
}

#about1:hover{
    opacity:.6;
}

#about1X {
    height: 24px;
    width: 115px;
	background: rgba(204, 204, 204, 0.0);
    border-radius: 0px;
    margin: auto;
    text-align: center;
    opacity:1;
    transition: all 0.7s ease; 
}

#about-border{
    height: 24px;
    width: 115px;
	background: rgba(204, 204, 204, 0.0);
    border-radius: 0px;
    margin: auto;
    text-align: center;
    opacity:1;    
    border-bottom: 1.3px solid #ffffff;
    transition: all 0.7s ease;
}

#about-border:hover{
    opacity:.6;
}

#beauty2 {
    height: 24px;
    width: 115px;
    background: rgba(204, 204, 204, 0.0);
    border-radius: 5px;
    margin: auto;
    text-align: center;
    opacity:1;
     
    transition: all 0.7s ease; 
}

#beauty2:hover{
    opacity:.6;
}

#beauty2X {
    height: 24px;
    width: 115px;
	background: rgba(204, 204, 204, 0.0);
    border-radius: 0px;
    margin: auto;
    text-align: center;
    opacity:1;
    transition: all 0.7s ease; 
}

#beauty-border{
    height: 24px;
    width: 115px;
	background: rgba(204, 204, 204, 0.0);
    border-radius: 0px;
    margin: auto;
    text-align: center;
    opacity:1;    
    border-bottom: 1.3px solid #ffffff;
    transition: all 0.7s ease;
}

#beauty-border:hover{
    opacity:.6;
}

#lifestyle3 {
    height: 24px;
    width: 115px;
    background: rgba(204, 204, 204, 0.0);
    border-radius: 5px;
    margin: auto;
    text-align: center;
    opacity:1;
     
    transition: all 0.7s ease; 
}

#lifestyle3:hover{
    opacity:.6;
}

#lifestyle3X {
    height: 24px;
    width: 115px;
	background: rgba(204, 204, 204, 0.0);
    border-radius: 0px;
    margin: auto;
    text-align: center;
    opacity:1;
    transition: all 0.7s ease; 
}

#lifestyle-border{
    height: 24px;
    width: 115px;
	background: rgba(204, 204, 204, 0.0);
    border-radius: 0px;
    margin: auto;
    text-align: center;
    opacity:1;    
    border-bottom: 1.3px solid #ffffff;
    transition: all 0.7s ease;
}

#lifestyle-border:hover{
    opacity:.6;
}

#nutrition4 {
    height: 25px;
    width: 120px;
    background: rgba(204, 204, 204, 0.0);
    border-radius: 5px;
    margin: auto;
    text-align: center;
    opacity:1;
     
    transition: all 0.7s ease; 
}

#nutrition4:hover{
    opacity:.6;
}

#nutrition4X {
    height: 25px;
    width: 120px;
	background: rgba(204, 204, 204, 0.0);
    border-radius: 0px;
    margin: auto;
    text-align: center;
    opacity:1;
    transition: all 0.7s ease; 
}

#nutrition-border{
    height: 25px;
    width: 120px;
	background: rgba(204, 204, 204, 0.0);
    border-radius: 0px;
    margin: auto;
    text-align: center;
    opacity:1;    
    border-bottom: 1.3px solid #ffffff;
    transition: all 0.7s ease;
}

#nutrition-border:hover{
    opacity:.6;
}

#resources5 {
    height: 25px;
    width: 120px;
    background: rgba(204, 204, 204, 0.0);
    border-radius: 5px;
    margin: auto;
    text-align: center;
    opacity:1;
     
    transition: all 0.7s ease; 
}

#resources5:hover{
    opacity:.6;
}

#resources5X {
    height: 25px;
    width: 120px;
	background: rgba(204, 204, 204, 0.0);
    border-radius: 0px;
    margin: auto;
    text-align: center;
    opacity:1;
    transition: all 0.7s ease; 
}

#resources-border{
    height: 25px;
    width: 120px;
	background: rgba(204, 204, 204, 0.0);
    border-radius: 0px;
    margin: auto;
    text-align: center;
    opacity:1;    
    border-bottom: 1.3px solid #ffffff;
    transition: all 0.7s ease;
}

#resources-border:hover{
    opacity:.6;
}

a{
	color: white;
	text-decoration: none;
	font-family: Monospace;
    transition: all 0.7s ease;
    font-size: 16px;
}

#logo{
	margin-top: 25px;
    margin-bottom: auto;
    margin-left: -10px;
    opacity:1;
    width: 600px;
}

#logoblock{
    position: relative;
    width: 650px;
    height: 170px;
/*    background: black; */
    opacity: 1.0;
    border: 4px solid #ffffff;
    margin-top: 190px;
    margin-left: auto;
    margin-right: auto; 
    background: rgba(204, 204, 204, 0.0);
}

#logotop{
    height: 50px;
    padding-top: 5px;
    float: left;
    width: 235px;
    margin-top: 4px;
    margin-left: 1px;
}

#logotopblock{
    float: left;
    position: absolute;
    margin-left: 60px;
    margin-top: 0px;
    height: 60px;
    border: 2px solid #ffffff;
    transition: all .7s ease;
    width: 240px;
}

#logotopblock:hover{
    opacity: 0.4;
    
}

#about-body{
 /*   background: url("file:///C:/Users/jenni/Desktop/Project/bg4.jpg"); */
    background-color: #000000;
    background-size: 100% 500%;
    background-repeat: no-repeat;
}

#about-title{
    margin-top: 40px;
    position: relative;
}

#beauty-body{
 /*   background: url("file:///C:/Users/jenni/Desktop/Project/bg4.jpg"); */
    background-color: #000000;
    background-size: 100% 500%;
    background-repeat: no-repeat;
}

#beauty-title{
    margin-top: 40px;
    position: relative;
}

#lifestyle-body{
 /*   background: url("file:///C:/Users/jenni/Desktop/Project/bg4.jpg"); */
    background-color: #000000;
    background-size: 100% 500%;
    background-repeat: no-repeat;
}

#lifestyle-title{
    margin-top: 40px;
    position: relative;
}

#nutrition-body{
 /*  background: url("file:///C:/Users/jenni/Desktop/Project/bg4.jpg"); */
    background-color: #000000;
    background-size: 100% 500%;
    background-repeat: no-repeat;
}

#nutrition-title{
    margin-top: 40px;
    position: relative;
}

#resources-body{
 /*   background: url("file:///C:/Users/jenni/Desktop/Project/bg4.jpg"); */
    background-color: #000000;
    background-size: 100% 500%;
    background-repeat: no-repeat;
}

#resources-title{
    margin-top: 40px;
    position: relative;
}

/*

#cosmetics-img{
    border: 0px solid #ffffff;
    border-radius: 5%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
}

#cosmetics-img:hover{
    border: 0px solid #ffffff;
    border-radius: 50%;
    opacity:.7;
    position: relative;
}

#cosmetics-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 80px;
    margin-left: 110px;
    position: absolute;
    text-align: center;
    opacity:1;
     
    transition: all 0.7s ease; 
}

#cosmetics-text:hover{
    opacity: 1;
}

#hair-img{
    border: 0px solid #ffffff;
    border-radius: 5%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
}

#hair-img:hover{
    border: 0px solid #ffffff;
    border-radius: 50%;    
    opacity:.7;
    position: relative;
}

#hair-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 80px;
    margin-left: 430px;
    position: absolute;
    text-align: center;
    opacity:1;
     
    transition: all 0.7s ease;
}

#hair-text:hover{
    opacity: 1;
}

#skincare-img{
    border: 0px solid #ffffff;
    border-radius: 5%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
}

#skincare-img:hover{
    border: 0px solid #ffffff;
    border-radius: 50%;
    opacity:.7;
    position: relative;
}

#skincare-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    background: red;
    border-radius: 5%;
    margin-top: 80px;
    margin-left: 700px;
    position: absolute;
    text-align: center;
    opacity:1;
     
    transition: all 0.7s ease;
}

#skincare-text:hover{
    opacity: 1;
}

#hygiene-img{
    border: 0px solid #ffffff;
    border-radius: 5%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
}

#hygiene-img:hover{
    border: 0px solid #ffffff;
    border-radius: 50%;
    opacity:.7;
    position: relative;
}

#hygiene-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    background: red;
    border-radius: 5%;
    margin-top: 80px;
    margin-left: 995px;
    position: absolute;
    text-align: center;
    opacity:1;
     
    transition: all 0.7s ease;
}

#hygiene-text:hover{
    opacity: 1;
}

*/



.energybtn 
{
    background:url(energy.jpg) 0% 90% no-repeat;
    background-size: 120.5%;
    border: 0px solid #ffffff;
    color: white;
    font-size: 16px;
    height: 170px;
    width: 250px;
    border-radius: 2%;
    border: 3px solid #ffffff;
    transition: all 0.7s ease;
}

.energy 
{
    background: rgba(204, 204, 204, 0.0); 
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 170px;
    width: 250px;
}

.energy-content 
{
    background: rgba(204, 204, 204, 0.0); 
    display: none;
    position: absolute;
    min-width: 160px;
    margin-left: 50px;
    margin-top: 5px;
    opacity: 0.9;
}

.energy-content a 
{
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    opacity: 1;
}

.energy-content a:hover 
{
    background-color: black;
    opacity: 0.5;
}

.energy:hover .energy-content 
{
    display: block;
}

.energy:hover .energybtn 
{
    background:url(energy.jpg) 0% 90% no-repeat;
    background-size: 120.5%;
    border-radius: 50%;
    opacity: 0.45;
}

#energy-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 75px;
    margin-left: 95px;
    position: absolute;
    text-align: center;
    opacity:1;
    color: white;
}   

#energy-text:hover{
    opacity: 1;
}


.wastebtn 
{
    background:url(waste.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border: 0px solid #ffffff;
    color: white;
    font-size: 16px;
    height: 170px;
    width: 250px;
    border-radius: 2%;
    border: 3px solid #ffffff;
    transition: all 0.7s ease;
}

.waste 
{
    background: rgba(204, 204, 204, 0.0); 
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 170px;
    width: 250px;
}

.waste-content 
{
    background: rgba(204, 204, 204, 0.0); 
    display: none;
    position: absolute;
    min-width: 160px;
    margin-left: 50px;
    margin-top: 5px;
    opacity: 0.9;
}

.waste-content a 
{
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    opacity: 1; 
}

.waste-content a:hover 
{
    background-color: black;
    opacity: 0.5;
}

.waste:hover .waste-content 
{
    display: block;
}

.waste:hover .wastebtn 
{
    background:url(waste.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border-radius: 50%;
    opacity: 0.45;
}

#waste-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 75px;
    margin-left: 100px;
    position: absolute;
    text-align: center;
    opacity:1;
    color: white;
}   

#waste-text:hover{
    opacity: 1;
}

.clothingbtn 
{
    background:url(clothing.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border: 0px solid #ffffff;
    color: white;
    font-size: 16px;
    height: 170px;
    width: 250px;
    border-radius: 2%;
    border: 3px solid #ffffff;
    transition: all 0.7s ease;
}

.clothing 
{
    background: rgba(204, 204, 204, 0.0); 
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 170px;
    width: 250px;
}

.clothing-content 
{
    background: rgba(204, 204, 204, 0.0); 
    display: none;
    position: absolute;
    min-width: 160px;
    margin-left: 50px;
    margin-top: 5px;
    opacity: 0.9;
}

.clothing-content a 
{
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    opacity: 1;
}

.clothing-content a:hover 
{
    background-color: black;
    opacity: 0.5;
}

.clothing:hover .clothing-content 
{
    display: block;
}

.clothing:hover .clothingbtn 
{
    background:url(clothing.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border-radius: 50%;
    opacity: 0.45;
}

#clothing-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 75px;
    margin-left: 80px;
    position: absolute;
    text-align: center;
    opacity:1;
    color: white;
}   

#clothing-text:hover{
    opacity: 1;
}

.pollutionbtn 
{
    background:url(pollution.jpeg) 0% 90% no-repeat;
    background-size: 120%;
    border: 0px solid #ffffff;
    color: white;
    font-size: 16px;
    height: 170px;
    width: 250px;
    border-radius: 2%;
    border: 3px solid #ffffff;
    transition: all 0.7s ease;
}

.pollution 
{
    background: rgba(204, 204, 204, 0.0); 
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 170px;
    width: 250px;
}

.pollution-content 
{
    background: rgba(204, 204, 204, 0.0); 
    display: none;
    position: absolute;
    min-width: 160px;
    margin-left: 50px;
    margin-top: 5px;
    opacity: 0.9;
}

.pollution-content a 
{
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    opacity: 1;
}

.pollution-content a:hover 
{
    background-color: black;
    opacity: 0.5;
}

.pollution:hover .pollution-content 
{
    display: block;
}

.pollution:hover .pollutionbtn 
{
    background:url(pollution.jpeg) 0% 90% no-repeat;
    background-size: 120%;
    border-radius: 50%;
    opacity: 0.45;
}

#pollution-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 75px;
    margin-left: 80px;
    position: absolute;
    text-align: center;
    opacity:1;
    color: white;
}   

#pollution-text:hover{
    opacity: 1;
}

.cosmeticsbtn 
{
    background:url(cosmetics.jpg) 0% 95% no-repeat;
    background-size: 126%;
    border: 0px solid #ffffff;
    color: white;
    font-size: 16px;
    height: 170px;
    width: 250px;
    border-radius: 2%;
    border: 3px solid #ffffff;
    transition: all 0.7s ease;
}

.cosmetics 
{
    background: rgba(204, 204, 204, 0.0); 
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 170px;
    width: 250px;
}

.cosmetics-content 
{
    background: rgba(204, 204, 204, 0.0); 
    display: none;
    position: absolute;
    min-width: 160px;
    margin-left: 50px;
    margin-top: 5px;
    opacity: 0.9;
}

.cosmetics-content a 
{
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    opacity: 1;
}

.cosmetics-content a:hover 
{
    background-color: black;
    opacity: 0.5;
}

.cosmetics:hover .cosmetics-content 
{
    display: block;
}

.cosmetics:hover .cosmeticsbtn 
{
    background:url(cosmetics.jpg) 0% 90% no-repeat;
    background-size: 126%;
    border-radius: 50%;
    opacity: 0.45;
}

#cosmetics-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 75px;
    margin-left: 85px;
    position: absolute;
    text-align: center;
    opacity:1;
    color: white;
}   

#cosmetics-text:hover{
    opacity: 1;
}

.hairbtn 
{
    background:url(hair.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border: 0px solid #ffffff;
    color: white;
    font-size: 16px;
    height: 170px;
    width: 250px;
    border-radius: 2%;
    border: 3px solid #ffffff; 
    transition: all 0.7s ease;
}

.hair 
{
    background: rgba(204, 204, 204, 0.0); 
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 170px;
    width: 250px;
}

.hair-content 
{
    background: rgba(204, 204, 204, 0.0); 
    display: none;
    position: absolute;
    min-width: 160px;
    margin-left: 50px;
    margin-top: 5px;
    opacity: 0.9;
}

.hair-content a 
{
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    opacity: 1; 
}

.hair-content a:hover 
{
    background-color: black;
    opacity: 0.5;
}

.hair:hover .hair-content 
{
    display: block;
}

.hair:hover .hairbtn 
{
    background:url(hair.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border-radius: 50%;
    opacity: 0.45;
}

#hair-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 75px;
    margin-left: 100px;
    position: absolute;
    text-align: center;
    opacity:1;
    color: white;
}   

#hair-text:hover{
    opacity: 1;
}

.skincarebtn 
{
    background:url(skincare.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border: 0px solid #ffffff;
    color: white;
    font-size: 16px;
    height: 170px;
    width: 250px;
    border-radius: 2%;
    border: 3px solid #ffffff;
    transition: all 0.7s ease;
}

.skincare 
{
    background: rgba(204, 204, 204, 0.0); 
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 170px;
    width: 250px;
}

.skincare-content 
{
    background: rgba(204, 204, 204, 0.0); 
    display: none;
    position: absolute;
    min-width: 160px;
    margin-left: 50px;
    margin-top: 5px;
    opacity: 0.9;
}

.skincare-content a 
{
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    opacity: 1;
}

.skincare-content a:hover 
{
    background-color: black;
    opacity: 0.5;
}

.skincare:hover .skincare-content 
{
    display: block;
}

.skincare:hover .skincarebtn 
{
    background:url(skincare.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border-radius: 50%;
    opacity: 0.45;
}

#skincare-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 75px;
    margin-left: 80px;
    position: absolute;
    text-align: center;
    opacity:1;
    color: white;
}   

#skincare-text:hover{
    opacity: 1;
}

.hygienebtn 
{
    background:url(hygiene.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border: 0px solid #ffffff;
    color: white;
    font-size: 16px;
    height: 170px;
    width: 250px;
    border-radius: 2%;
    border: 3px solid #ffffff;
    transition: all 0.7s ease;
}

.hygiene 
{
    background: rgba(204, 204, 204, 0.0); 
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 170px;
    width: 250px;
}

.hygiene-content 
{
    background: rgba(204, 204, 204, 0.0); 
    display: none;
    position: absolute;
    min-width: 160px;
    margin-left: 50px;
    margin-top: 5px;
    opacity: 0.9;
}

.hygiene-content a 
{
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    opacity: 1;
}

.hygiene-content a:hover 
{
    background-color: black;
    opacity: 0.5;
}

.hygiene:hover .hygiene-content 
{
    display: block;
}

.hygiene:hover .hygienebtn 
{
    background:url(hygiene.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border-radius: 50%;
    opacity: 0.45;
}

#hygiene-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 75px;
    margin-left: 80px;
    position: absolute;
    text-align: center;
    opacity:1;
    color: white;
}   

#hygiene-text:hover{
    opacity: 1;
}

.vitaminsbtn 
{
    background:url(vitamins.jpg) 0% 90% no-repeat;
    background-size: 125%;
    border: 0px solid #ffffff;
    color: white;
    font-size: 16px;
    height: 170px;
    width: 250px;
    border-radius: 2%;
    border: 3px solid #ffffff;
    transition: all 0.7s ease;
}

.vitamins 
{
    background: rgba(204, 204, 204, 0.0); 
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 170px;
    width: 250px;
}

.vitamins-content 
{
    background: rgba(204, 204, 204, 0.0); 
    display: none;
    position: absolute;
    min-width: 160px;
    margin-left: 50px;
    margin-top: 5px;
    opacity: 0.9;
}

.vitamins-content a 
{
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    opacity: 1;
}

.vitamins-content a:hover 
{
    background-color: black;
    opacity: 0.5;
}

.vitamins:hover .vitamins-content 
{
    display: block;
}

.vitamins:hover .vitaminsbtn 
{
    background:url(vitamins.jpg) 0% 90% no-repeat;
    background-size: 125%;
    border-radius: 50%;
    opacity: 0.45;
}

#vitamins-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 75px;
    margin-left: 85px;
    position: absolute;
    text-align: center;
    opacity:1;
    color: white;
}   

#vitamins-text:hover{
    opacity: 1;
}

.gmosbtn 
{
    background:url(gmos.jpg) 0% 90% no-repeat;
    background-size: 140%;
    border: 0px solid #ffffff;
    color: white;
    font-size: 16px;
    height: 170px;
    width: 250px;
    border-radius: 2%;
    border: 3px solid #ffffff;
    transition: all 0.7s ease;
}

.gmos 
{
    background: rgba(204, 204, 204, 0.0); 
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 170px;
    width: 250px;
}

.gmos-content 
{
    background: rgba(204, 204, 204, 0.0); 
    display: none;
    position: absolute;
    min-width: 160px;
    margin-left: 50px;
    margin-top: 5px;
    opacity: 0.9;
}

.gmos-content a 
{
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    opacity: 1; 
}

.gmos-content a:hover 
{
    background-color: black;
    opacity: 0.5;
}

.gmos:hover .gmos-content 
{
    display: block;
}

.gmos:hover .gmosbtn 
{
    background:url(gmos.jpg) 0% 90% no-repeat;
    background-size: 140%;
    border-radius: 50%;
    opacity: 0.45;
}

#gmos-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 75px;
    margin-left: 100px;
    position: absolute;
    text-align: center;
    opacity:1;
    color: white;
}   

#gmos-text:hover{
    opacity: 1;
}

.sustainablebtn 
{
    background:url(sustainable.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border: 0px solid #ffffff;
    color: white;
    font-size: 16px;
    height: 170px;
    width: 250px;
    border-radius: 2%;
    border: 3px solid #ffffff;
    transition: all 0.7s ease;
}

.sustainable 
{
    background: rgba(204, 204, 204, 0.0); 
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 170px;
    width: 250px;
}

.sustainable-content 
{
    background: rgba(204, 204, 204, 0.0); 
    display: none;
    position: absolute;
    min-width: 160px;
    margin-left: 50px;
    margin-top: 5px;
    opacity: 0.9;
}

.sustainable-content a 
{
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    opacity: 1;
}

.sustainable-content a:hover 
{
    background-color: black;
    opacity: 0.5;
}

.sustainable:hover .sustainable-content 
{
    display: block;
}

.sustainable:hover .sustainablebtn 
{
    background:url(sustainable.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border-radius: 50%;
    opacity: 0.45;
}

#sustainable-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 75px;
    margin-left: 70px;
    position: absolute;
    text-align: center;
    opacity:1;
    color: white;
}   

#sustainable-text:hover{
    opacity: 1;
}

.organicbtn 
{
    background:url(organic.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border: 0px solid #ffffff;
    color: white;
    font-size: 16px;
    height: 170px;
    width: 250px;
    border-radius: 2%;
    border: 3px solid #ffffff;
    transition: all 0.7s ease;
}

.organic 
{
    background: rgba(204, 204, 204, 0.0); 
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 170px;
    width: 250px;
}

.organic-content 
{
    background: rgba(204, 204, 204, 0.0); 
    display: none;
    position: absolute;
    min-width: 160px;
    margin-left: 50px;
    margin-top: 5px;
    opacity: 0.9;
}

.organic-content a 
{
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    opacity: 1;
}

.organic-content a:hover 
{
    background-color: black;
    opacity: 0.5;
}

.organic:hover .organic-content 
{
    display: block;
}

.organic:hover .organicbtn 
{
    background:url(organic.jpg) 0% 90% no-repeat;
    background-size: 120%;
    border-radius: 50%;
    opacity: 0.45;
}

#organic-text{
    height: 0px;
    width: 0px;
    background: rgba(204, 204, 204, 0.0); 
    border-radius: 5%;
    margin-top: 75px;
    margin-left: 85px;
    position: absolute;
    text-align: center;
    opacity:1;
    color: white;
}   

#organic-text:hover{
    opacity: 1;
}

#about-img{
    margin-top: 70px;
}

#resources-img{
    margin-top: 70px;
}







