@font-face {
font-family: 'Modern';
src: url('Modern.eot'); 
src: url('Modern.eot?#iefix') format('embedded-opentype'),
url('Modern.woff') format('woff'), 
url('Modern.ttf') format('truetype'),
url('Modern.svg#svgFontName') format('svg'); 
}

@font-face {
font-family: 'NEOTERIC';
src: url('NEOTERIC.eot'); 
src: url('NEOTERIC.eot?#iefix') format('embedded-opentype'), 
url('NEOTERIC.woff') format('woff'),
url('NEOTERIC.ttf') format('truetype'), 
url('NEOTERIC.svg#svgFontName') format('svg');
}

p{
    font-family: 'NEOTERIC';
    color: #ffffff;
}

body::-webkit-scrollbar{
    width: 0em;
    height: 0em;
}

.mainbod{
    background: url("bg59.jpg"); 
    background-color: black;
    background-size: 100% 100%;  
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about-body{
    background: url("bg59.jpg"); 
    background-color: #000000;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.beauty-body{
    background: url("bg59.jpg"); 
    background-color: #000000;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.lifestyle-body{
    background: url("bg59.jpg"); 
    background-color: #000000;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nutrition-body{
    background: url("bg59.jpg"); 
    background-color: #000000;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.resources-body{
    background: url("bg59.jpg"); 
    background-color: #000000;
    background-size: 100% 102%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-button{
    width: 100%;
    height: 130px;
    position: fixed;
    opacity: 1;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#main-table{
    line-height: 0px;
    height: 100%;
    width: 60%;
    transition: .8s ease-in-out; 
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 10%;
    border-spacing: 100px 0px; 
    border-collapse: separate;
}

.main{
    width: 100%;
    height: 130px;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    background: rgba(255, 255, 255, 0);
}

.main-text-title{
    text-align: center;
    font-size: 50px;  
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
    color: whitesmoke;
    font-family: 'neoteric';
    opacity: 1;
    letter-spacing: 50px;
    transition: 1s ease-in-out;
    position: absolute;
    width: 103.5%;
    height: 65px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
}

@keyframes appear{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes textclose{
    from {letter-spacing: 200px;}
    to {letter-spacing: 50px;}     
}

#home:hover{
    opacity: 0.5;
}

.about-text-title{
    text-align: center;
    font-size: 80px;  
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
    color: whitesmoke;
    font-family: 'neoteric';
    opacity: 1;
    letter-spacing: 60px;
    transition: 1s ease-in-out;
    position: absolute;
    width: 445px;
    height: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-weight: 0;
}

.beauty-text-title{
    text-align: center;
    font-size: 80px;  
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
    color: whitesmoke;
    font-family: 'Neoteric';
    opacity: 1;
    letter-spacing: 60px;
    transition: 1s ease-in-out;
    position: absolute;
    width: 530px;
    height: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.lifestyle-text-title{
    text-align: center;
    font-size: 80px;  
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
    color: whitesmoke;
    font-family: 'Neoteric';
    opacity: 1;
    letter-spacing: 60px;
    transition: 1s ease-in-out;
    position: absolute;
    width: 775px;
    height: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.nutrition-text-title{
    text-align: center;
    font-size: 80px;  
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
    color: whitesmoke;
    font-family: 'Neoteric';
    opacity: 1;
    letter-spacing: 60px;
    transition: 1s ease-in-out;
    position: absolute;
    width: 805px;
    height: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.resources-text-title{
    text-align: center;
    font-size: 80px;  
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
    color: whitesmoke;
    font-family: 'Neoteric';
    opacity: 1;
    letter-spacing: 60px;
    transition: 1s ease-in-out;
    position: absolute;
    width: 800px;
    height: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.main-text-box{
    width: 100%;
    height: 130px;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
    font-size: 25px;
    letter-spacing: 4px;
    visibility: visible;
    display: inline-block;
    font-family: 'Neoteric';
    font-weight: bold;
    color: whitesmoke;
}

.main:hover .main-text-box{
    visibility: visible;
    opacity: 1;
}

.main:hover .main-text-title{
    opacity: 0;
}

.main:hover .about-text-title{
    opacity: 0;
}

.main:hover .beauty-text-title{
    opacity: 0;
}

.main:hover .lifestyle-text-title{
    opacity: 0;
}

.main:hover .nutrition-text-title{
    opacity: 0;
}

.main:hover .resources-text-title{
    opacity: 0;
}

.main:hover .default-text-box{
    opacity: 0;
    visibility: visible;   
}

.default-text-box:hover{
    opacity: 1;
    visibility: visible;
}

.main-text: hover{
    opacity: 1;
}

.main-text-box: hover{
    opacity: 1;
}

.main:hover .main-button{

}

#logo{
	margin-top: 25px;
    margin-bottom: auto;
    margin-left: -10px;
    opacity: 1;
    width: 800px;
}

#logoblock{
    font-family:'neoteric'; 
    color: whitesmoke;  
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
    position: fixed; 
    letter-spacing: 60px; 
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 4px solid whitesmoke; 
    border-bottom: 4px solid whitesmoke; 
    width: 100%; 
    height: 130px; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); 
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#line{
    height: 800px;
    width: 50px;
    margin-left: 40px;
    background-color: black;
}

#about-nav{ 
    color: whitesmoke;
    text-decoration: none;
    position: absolute;
    transition: all 0.8s ease;
    margin-left: 2%;
}

#about-nav:hover{
    opacity: 0.6;
    margin-top: -10px;
    height: 20%;
    position: absolute;
}

#td-about{
    width: 0%
}

#beauty-nav{
    color: whitesmoke;
    text-decoration: none;
    margin-top: 0px;
    position: absolute;
    transition: all 0.8s ease; 
    width: 100px;
    margin-left: 0px;
}

#beauty-nav:hover{
    opacity: 0.6;
    margin-top: -10px;
    height: 20%;
}

#td-beauty{
    width: 0%
}

#lifestyle-nav{
    color: whitesmoke;
    text-decoration: none;
    margin-top: 0px;
    position: absolute;
    transition: all 0.8s ease; 
    margin-left: -5px;
}

#lifestyle-nav:hover{
    opacity: 0.6;
    margin-top: -10px;
    height: 20%;
}

#td-lifestyle{
    width: 0%
}

#nutrition-nav{
    color: whitesmoke;
    text-decoration: none;
    margin-top: 0px;
    position: absolute;
    transition: all 0.8s ease;
    margin-left: 15px;
}

#nutrition-nav:hover{
    opacity: 0.6;
    margin-top: -10px;
    height: 20%;
}

#td-nutrition{
    width: 0%
}

#resources-nav{
    color: whitesmoke;
    text-decoration: none;
    margin-top: 0px;
    position: absolute;
    transition: all 0.8s ease;
    margin-left: 2.5%;
}

#resources-nav:hover{
    opacity: 0.6;
    margin-top: -10px;
    height: 20%;
}

#td-resources{
    width: 0%
}

#left{
    position: fixed;
    height: 500%;
    width: 130px;
    top: -210%;
    background-color: black;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.49);
    border-left: 4px solid whitesmoke;  
    border-right: 4px solid whitesmoke;   
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); 
    transform: rotate(30deg);
    transition: all 1s ease;
}

#left2{
    position: fixed;
    height: 500%;
    width: 130px;
    top: -210%;
    background-color: black;
    left: -5%;
    background-color: rgba(0, 0, 0, 0.49);
    border-left: 4px solid whitesmoke;  
    border-right: 4px solid whitesmoke;   
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); 
    transform: rotate(150deg);
}

#right{
    position: fixed;
    height: 500%;
    width: 130px;
    top: -210%;
    background-color: black;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.49);
    border-left: 4px solid whitesmoke;  
    border-right: 4px solid whitesmoke;   
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); 
    transform: rotate(150deg);
}

#right2{
    position: fixed;
    height: 500%;
    width: 130px;
    top: -210%;
    background-color: black;
    right: -5%;
    background-color: rgba(0, 0, 0, 0.49);
    border-left: 4px solid whitesmoke;  
    border-right: 4px solid whitesmoke;   
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); 
    transform: rotate(30deg);
}

#about-bar{
    margin-top: 900px;
    height: 700px;
    width: 45%;
    background-color: black;
    position: relative;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.4);
    border: 4px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.7); 
}

.home-button{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 12%;
    opacity: 1;
    transition: all 0.8s ease-in-out;
    visibility: visible;
}

.home-button:hover{
    opacity: 0.6;
}

.home-button-about{
    margin-top: 45%;
    transition: all .8s ease-in-out;
}

.home-button-about:hover{
    opacity: 0.6;
}

.home-img{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    left: 0;
    right: 0;
    opacity: 1;
    transition: all 0.8s ease-in-out;  
}


#main-bar{
    margin-top: 900px;
    height: 700px;
    width: 45%;
    background-color: black;
    position: relative;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.4);
    border: 4px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
}

#beauty-bar{
    height: 700px;
    width: 45%;
    background-color: black;
    position: relative;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.4);
    border: 4px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.7); 
}

#main-end{
    height: 80px;
}

#main-title{
    font-weight: bold;
    opacity: 1;
    visibility: visible;
    height: 285px;
    width: 85%;
    position: absolute;
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 70px;
    color: white;
    font-family: 'Modern';
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#beauty-bar-1{
    margin-top: 150px;
    height: 750px;
    width: 70%;
    background-color: black;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.4);
    border: 3px solid #ffffff;
}

#cover{
    position: absolute;
    margin-top: 77px;
    margin-left: 0px;
    height: 500px;
    width: 99%;
    background-color: rgba(0, 0, 0, 0);

}

#beauty-bar-2{
    margin-top: 0px;
    height: 550px;
    width: 70%;
    background-color: black;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.4);
}

#beauty-bar-3{
    margin-top: 0px;
    height: 550px;
    width: 70%;
    background-color: black;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.4);
}

#lifestyle-bar{
    margin-top: 250px;
    height: 550px;
    width: 70%;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.4);
}

#nutrition-bar{
    margin-top: 250px;
    height: 550px;
    width: 70%;
    background-color: black;
    position: relative;
    background: rgba(46, 38, 27, 0.65);
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.4);
}

.arrow-{
    margin-top: 1082px;
    margin-left: -5px;
    height: 130px;
    width: 100%;
    opacity: 1;
    position: fixed;
    transition: all 0.8s ease;
    pointer-events: none;
}

.arrow-:hover{
    pointer-events: none;

}

.arrow-:hover + .resources-bar{
    margin-top: 200%;
    
}

@keyframes arrowright {
    from {left: 0%;}
    to {left: 0%;}
}

@keyframes scrollup{
    from {margin-top: 0%;}
    top {margin-top: 100%;}
}

.arrow2-{
    background: url(arrow2.png) 0px 0px;
    background-size: 90px;
    margin-top: 1100px;
    margin-left: 130px;
    height: 90px;
    width: 90px;
    opacity: 1;
    position: absolute;
    transition: all 0.8s ease;
    animation-fill-mode: forwards;
}

.resources-bar{
    height: 700px;
    width: 668px;
    background-color: black;
    position: absolute;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.4);
    border: 4px solid whitesmoke;
    margin-left: 400px;
    background-color: rgba(0, 0, 0, 0.7); 
    text-align: center;
    margin-top: 2000px;
    transition: all 2s ease;
}

#middle{
    margin-top: -708px;
    height: 700px;
    width: 10%;
    position: absolute;
    margin-left: 4425px;
    background-color: rgba(0, 0, 0, 0); 
    text-align: center;    
}

.resources-bar-2{
    margin-top: -708px;
    margin-left: 1950px;
    height: 700px;
    width: 45%;
    background-color: black;
    position: relative;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.4);
    border: 4px solid whitesmoke;
    background-color: rgba(0, 0, 0, 0.65); 
    text-align: center;
}

.resources-bar-3{
    margin-top: -708px;
    margin-left: 3487px;
    height: 700px;
    width: 45%;
    background-color: black;
    position: relative;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.4);
    border: 4px solid whitesmoke;
    background-color: rgba(0, 0, 0, 0.65); 
    text-align: center;
}


#about-title-box{
    text-align: center;
    width: 380px;
    height: 100px;
    position: absolute;
    margin-top: -130px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#about-title{
    position: relative;
    font-size: 80px; 
    color: white; 
    font-family:'Neoteric';
    opacity: 0.9;
    font-weight: bold;
    letter-spacing: 30px;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.42);
}

#about-text-box{
    padding-top: 120px;
    width: 750px;
    height: 300px;
    position: relative;
}

#about-text{
    font-size: 25px;
    color: white;
    font-family: 'Modern';
    line-height: 80px;
    letter-spacing: 3px;
    font-weight: 550;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.42);
    opacity: 1;
}

#under{
    font-size: 25px;
    color: white;
    font-family: 'Modern';
    line-height: 80px;
    letter-spacing: 3px;
    font-weight: 550;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.42);
    opacity: 1;
    border-bottom: 2px dotted #ffffff;
    padding-bottom: 3px;
}

#cosmetics-title{
    width: 700px;
    margin-top: 110px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#hair-title-box{
    text-align: center;
    width: 255px;
    height: 100px;
    position: absolute;
    margin-top: -120px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#nails-title-box{
    text-align: center;
    width: 325px;
    height: 100px;
    position: absolute;
    margin-top: -120px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#beauty-title{
    position: relative;
    font-size: 80px; 
    color: white; 
    font-family:'Neoteric';
    opacity: 0.8;
    font-weight: bold;
    letter-spacing: 30px;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.42);
}

#beauty-text-box{
    padding-top: 120px;
    width: 690px;
    position: relative;
}

#beauty-text{
    font-size: 21px;
    color: white;
    font-family: 'Neoteric';
    line-height: 60px;
    opacity: 1;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.45);
}

#beauty-box{
    height: 50px;
    width: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.default-text-box-skin{
    font-family: 'Neoteric';
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    height: 70%;
    margin-top: 0px;
    line-height: 50px;
    visibility: visible;
    transition: .8s ease-in-out;
    opacity: 1;
    display: inline-block;
    color: whitesmoke;
    letter-spacing: 10px;
    background: rgba(255, 255, 255, 0); 
}

.skin-summary{
    opacity: 1;
    visibility: visible;
    height: 285px;
    width: 85%;
    position: absolute;
    transition: all 0.8s ease;
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 70px;
    color: white;
    font-family: 'Modern';
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.default-text-box-skin:hover .skin-summary{
    opacity: 0;
    visibility: hidden;
}

.default-text-box-skin:hover .default-table{
    visibility: visible;
    opacity: 1;
}

.skin-summary:hover{
    opacity: 0;
    visibility: hidden;
}

.default-title-skin{
    transition: .8s ease-in-out;
    margin-top: 10%;
    position: absolute;
    left: 0;
    right: 0;
}

.default-text-box{
    font-family: 'Neoteric';
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    height: 70%;
    margin-top: 0px;
    line-height: 50px;
    opacity: 1;
    color: whitesmoke;
    letter-spacing: 10px;
    background: rgba(255, 255, 255, 0); 
}

.default-title{
    margin-top: 10%;
    position: absolute;
    left: 0;
    right: 0;
}

.microbeads-{
    font-size: 20px;
    font-family: 'Neoteric';
    border: 3px solid whitesmoke;
    width: 33%;
    height: 30px;
    transition: .8s ease-in-out;
}

.microbeads-text-box{
    width: 90%;
    position: absolute;
    margin-top: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all .8s ease;
    text-align: left;
    font-size: 10px;
    overflow-y: scroll;
    height: 400px;
    line-height: 60px;
    font-size: 15px;
    color: white;
    font-family: 'Modern';
    letter-spacing: 3px;
}

.microbeads-:hover{
    border-radius: ;
}

.microbeads-:hover .microbeads-text-box{
    visibility: visible;
    opacity: 1;
}

div::-webkit-scrollbar{
    width: 0em;
}

.acidity-{
    font-size: 20px;
    font-family: 'Neoteric';
    border: 3px solid whitesmoke;
    width: 33%;
    height: 30px;
    transition: .8s ease-in-out;
}

.acidity-:hover{
    opacity: 1;
}

.acidity-:hover .microbeads-text-box-2{
    visibility: visible;
    opacity: 1;
}

.microbeads-text-box-2{
    width: 90%;
    position: absolute;
    margin-top: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all .8s ease;
    text-align: left;
    font-size: 10px;
    overflow-y: scroll;
    height: 400px;
    line-height: 60px;
    font-size: 15px;
    color: white;
    font-family: 'Modern';
    letter-spacing: 3px;
    margin-left: -32%;
}

.treatments-{
    font-size: 20px;
    font-family: 'Neoteric';
    border: 3px solid whitesmoke;
    width: 33%;
    height: 30px;
    transition: .8s ease-in-out;
}

.treatments-:hover{
    opacity: 1;
}

.treatments-:hover .microbeads-text-box-3{
    visibility: visible;
    opacity: 1;
}

.microbeads-text-box-3{
    width: 90%;
    position: absolute;
    margin-top: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all .8s ease;
    text-align: left;
    font-size: 10px;
    overflow-y: scroll;
    height: 400px;
    line-height: 60px;
    font-size: 15px;
    color: white;
    font-family: 'Modern';
    letter-spacing: 3px;
    margin-left: -64%;
}

.default-table{
    margin-top: 22%;
    height: 60px;
    width: 100%;
    border-spacing: 30px 0px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .8s ease-in-out;
}

.default-box{
    letter-spacing: 5px;
    width: 100%;
}

.microbeads-:hover  .microbeads-text-box{
    visibility: visible;
    opacity: 1;
}

.microbeads-:hover .default-text-box{
    opacity: 0;
    visibility: visible;   
}

.default-text-box-skin:hover + .home-button{
    visibility: none;
    opacity: 0;
}

.default-text-box:hover{
    opacity: 1;
    visibility: visible;
}

#end{
    height: 80px;
    width: 100%;
    margin-top: 0px;
}

#beauty-end{
    height: 300px;
    width: 100%;
    margin-top: 100px;
}

#b-tail{
    height: 80px;
    width: 100%;
    margin-top: 0px;
}

#lifestyle-end{
    height: 100px;
    width: 100%;
}

#nutrition-end{
    height: 100px;
    width: 100%;
}

#resources-title-box{
    text-align: center;
    width: 700px;
    height: 100px;
    position: absolute;
    margin-top: -130px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#resources-title{
    position: relative;
    font-size: 80px; 
    color: white; 
    font-family:'Neoteric';
    opacity: 0.8;
    font-weight: bold;
    letter-spacing: 30px;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.42);
}

#resources-text-box{
    opacity: 1;
    letter-spacing: 5px;
    width: 450px;
    height: 420px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

#resources-text{
    font-size: 25px;
    color: whitesmoke;
    font-family: 'Modern';
    line-height: 70px;
    text-decoration: none;
    opacity: 1;
    transition: all 0.8s ease-in-out;
    letter-spacing: 10px;
    margin-left:0px;
}

#resources-text:hover{
    opacity: 0.6;
}

#resources-title-{
    font-family: 'Neoteric';
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    height: 10%;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: -10%;
    line-height: 40px;
    visibility: visible;
    transition: .8s ease-in-out;
    opacity: 1;
    display: inline-block;
    color: whitesmoke;
    letter-spacing: 10px;
    background: rgba(255, 255, 255, 0);  
    position: absolute;
}

#resources-text-title{
    font-size: 25px;
    color: whitesmoke;
    font-family: 'Modern';
    line-height: 70px;
    text-decoration: none;
    opacity: 1;
    letter-spacing: 10px;  
    margin-left: 0%;
    position: relative;
    width: 55%;
}

.animate{
    -webkit-animation-delay: 0s;
    animation-delay: 0s;    
    -webkit-animation: fadeIn 1.5s ease-in;
    animation: fadeIn 1.5s ease-in;
}

.animate-in-left {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;

    animation: leftmove 2.5s;
}

.animate-in-right {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    
    animation: rightmove 2.5s;
}

.animate-in-left2 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    
    animation: leftmove2 2.5s;
}

.animate-in-right2 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    
    animation: rightmove2 2.5s;
}

.animate-in-top {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;    

    animation: topmove 2.5s;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@keyframes leftmove {
    from {left: -25%;}
    to {left: 5%;}
}

@keyframes rightmove {
    from {right: -25%;}
    to {right: 5%;}
}

@keyframes leftmove2 {
    from {left: -25%;}
    to {left: -5%;}
}

@keyframes rightmove2 {
    from {right: -25%;}
    to {right: -5%;}
}

@keyframes topmove {
    from {top: -100%;}
    to {top: 0%;}
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}







