#resources-body{
    background: url("file:///E:/Computer%20Science/Computer%20Science%203/Project/bg4.jpg"); 
    background-color: black;
    background-size: 100% 500%;
    background-repeat: no-repeat;
}

#resources-title{
	padding-top: 30px;
}

#logotop{
	padding-left: 30px;
	padding-top: 40px;
}